/// # Border
///
/// Control lines around elements.
///
/// Basically a clone of basscss/border
///
/// @group Core.Border

/// Sets the default radius when border-radius is applied to an element.
///
/// @group Core.Border
$border-radius: 3px !default;

/// Sets the default width of borders applied with Core
///
/// @group Core.Border
$border-width: 1px !default;

/// Puts a border around the element.
///
///     .my-element {
///       @extend @border;
///     }
///
/// @group Core.Border
@mixin border {
  border-style: solid;
  border-width: $border-width;
}

/// Puts a border on top of the element.
///
/// @group Core.Border
@mixin border-top {
  border-top-style: solid;
  border-top-width: $border-width;
}

@mixin border-right {
  border-right-style: solid;
  border-right-width: $border-width;
}

@mixin border-bottom {
  border-bottom-style: solid;
  border-bottom-width: $border-width;
}

@mixin border-left {
  border-left-style: solid;
  border-left-width: $border-width;
}

@mixin border-none { border: 0 }

@mixin rounded { border-radius: $border-radius }

@mixin circle  { border-radius: 50% }

@mixin rounded-top    { border-radius: $border-radius $border-radius 0 0 }

@mixin rounded-right  { border-radius: 0 $border-radius $border-radius 0 }

@mixin rounded-bottom { border-radius: 0 0 $border-radius $border-radius }

@mixin rounded-left   { border-radius: $border-radius 0 0 $border-radius }

@mixin not-rounded { border-radius: 0 }
