// Border
//
// Control lines around elements.
//
// Styleguide Core.Border

// Basically a clone of basscss/border

// $border-radius
//
// Sets the default radius when border-radius is applied to an element.
//
// Style guide: Core.Border.Variables
$border-radius: 3px !default;

// $border-width
//
// Sets the default width of borders applied with Core.Border
//
// Style guide: Core.Border.Variables
$border-width: 1px !default;

// border
//
// Puts a border around the element.
//
//     .my-element {
//       @extend @border;
//     }
//
// Style guide: Core.Border.Mixins
@mixin border {
  border-style: solid;
  border-width: $border-width;
}

// border-top
//
// Puts a border on top of the element.
//
// Style guide: Core.Border.Mixins
@mixin border-top {
  border-top-style: solid;
  border-top-width: $border-width;
}

@mixin border-right {
  border-right-style: solid;
  border-right-width: $border-width;
}

@mixin border-bottom {
  border-bottom-style: solid;
  border-bottom-width: $border-width;
}

@mixin border-left {
  border-left-style: solid;
  border-left-width: $border-width;
}

@mixin border-none { border: 0 }

@mixin rounded { border-radius: $border-radius }

@mixin circle  { border-radius: 50% }

@mixin rounded-top    { border-radius: $border-radius $border-radius 0 0 }

@mixin rounded-right  { border-radius: 0 $border-radius $border-radius 0 }

@mixin rounded-bottom { border-radius: 0 0 $border-radius $border-radius }

@mixin rounded-left   { border-radius: $border-radius 0 0 $border-radius }

@mixin not-rounded { border-radius: 0 }
