// Form
//
// Basic styling of input elements.
//
// Styleguide: Core.Form

// Basically a clone of basscss/addons/forms

// substrate-form-label
//
// Adds label-styling to an element.
//
// ```
// label {
//   @include substrate-form-label;
// }
// ```
//
// Styleguide: Core.Form.Label
@mixin substrate-form-label {
  font-size: .875rem;
  font-weight: bold;
  display: block;
  margin-bottom: .5rem;
}

// substrate-form-input
//
// Adds styling for an interactive input control, like a text input field.
//
// ```
// input[type=text] {
//   @include substrate-form-input;
// }
// ```
//
// Styleguide: Core.Form.Input
@mixin substrate-form-input {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: .5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

@mixin substrate-form-select {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: .5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

@mixin substrate-form-textarea {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  padding: .5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}
