/// # Form
///
/// Basic styling of input elements.
///
/// Basically a clone of basscss/addons/forms
///
/// @group Core.Form

/// Adds label-styling to an element.
///
/// @example
/// label {
///   @include substrate-form-label;
/// }
///
/// @group Core.Form
@mixin substrate-form-label {
  font-size: .875rem;
  font-weight: bold;
  display: block;
  margin-bottom: .5rem;
}

/// Adds styling for an interactive input control, like a text input field.
///
/// @example
/// input[type=text] {
///   @include substrate-form-input;
/// }
///
/// @group Core.Form
@mixin substrate-form-input {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: .5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

/// Makes the element look like a select control.
///
/// @example
/// select {
///   @include substrate-form-select;
/// }
///
/// @group Core.Form
@mixin substrate-form-select {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: .5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

/// Makes the element look like a text area.
///
/// @example
/// textarea {
///   @include substrate-form-textarea;
/// }
///
/// @group Core.Form
@mixin substrate-form-textarea {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  padding: .5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}
