@import "../core/margin";
@import "../core/padding";

/// # Navigation bar
///
/// A navigation bar enables navigation through a series of hierarchical screens.
///
/// When a new screen is displayed, a back button, often labeled with the title
/// of the previous screen, appears on the left side of the bar. Sometimes, the
/// right side of a navigation bar contains a control, like an Edit or a Done
/// button, for managing the content within the active view.
///
/// * [iOS documentation](https://developer.apple.com/ios/human-interface-guidelines/bars/navigation-bars/)
///
/// All second-level elements should be added to the markup even if you don't
/// need them to ensure proper display. You can leave them empty, though, for
/// example if you don't need any forward actions put use empty element:
///
///     <div class="substrate-navigation-bar-forward"></div>
///
/// @example html
///   <div class="substrate-navigation-bar">
///     <div class="substrate-navigation-bar-back">
///       <a class="substrate-navigation-bar-item" href="#back">Go back</a>
///     </div>
///     <div class="substrate-navigation-bar-title">
///       <h1 class="substrate-navigation-bar-item">Standard navigation bar</h1>
///     </div>
///     <div class="substrate-navigation-bar-forward">
///       <a class="substrate-navigation-bar-item" href="#back">Add new stuff</a>
///     </div>
///   </div>
///
/// @group organisms.navigation-bar

/// @group organisms.navigation-bar
@mixin substrate-navigation-bar {
  display: flex;
  justify-content: space-between;
}

/// @group organisms.navigation-bar
@mixin substrate-navigation-bar-back {
  flex-basis: 15%;
  margin-right: 0;
  order: 0;
}

/// @group organisms.navigation-bar
@mixin substrate-navigation-bar-forward {
  display: flex;
  flex-basis: 15%;
  justify-content: flex-end;
  order: 2;
}

/// @group organisms.navigation-bar
@mixin substrate-navigation-bar-item {
  @include m0;
  @include p2;

  display: inline-block;
  font-size: 1em;
  text-decoration: none;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: inherit;
  }
}

/// The element that contains the title, not the actual title itself.
/// @group organisms.navigation-bar
@mixin substrate-navigation-bar-title {
  flex-basis: 70%;
  order: 1;
  text-align: center;
}
